trash
__pycache__
phrases_dict.json
pinyin_fix.json
processed.txt

logs/
.vscode
build
dist
*.keras
*.pkl
*.spec
*logs*

*test*


train_RNN2.py
train_transformer2.py
translator_RNN.py
translator_transformer.py

data_process.py
func.py
