trash
__pycache__
phrases_dict.json
processed.txt
example_sentence.txt
config.json

*logs*
.vscode
build
dist
*.keras
*.pkl
*.spec
*logs*
*.png
*test*


train_RNN2.py
train_transformer2.py
evaluate_viterbi.py
plot_model.py

data_process.py
func.py
