trash
__pycache__
說明書
封存*
PTT_2023_08_06_5length_test_dataset.tfrecord
phrases_dict.json
processed.txt
example_sentence.txt
config.json
engTyping2Zh_HMM70.json
engTyping2Zh_HMM100.json
PTT_pinyin_2024_01_30_pinyin2Zh_HMM100_Tue_Jan_30_225809_2024.json
mT5_small_PTT_2023_08_06_Thu_Aug_17_081645_2023.ckpt
BERT_ELF_malware_identify.ipynb
dataset_classifier.py
length_len_dataset.py
note.md
.gitignore
PTT_2023_08_06_engTyping_inserted_lines.txt
PTT_2023_08_06_zh_lines.txt

*logs*
*wiki*
*WIKI*
*lines*
venv
.vscode
build
dist
*.tfrecord
*.rar
*.keras
*.pkl
*.spec
*logs*
*.png
test*
*PTT_2023_08_03*
*.yaml


train_RNN2.py
train_transformer2.py
train_viterbi2.py
train_pinyin.py
translator_viterbi2.py
evaluate_viterbi.py
plot_model.py

data_process.py
dataset_length.py
split_dataset_to_20.py
func.py

num2hanzi.js

Interpretation_of_the_results.txt
QA_radio.txt